*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 20px;
}

.menu {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
}
h3, p, li {
    font-family: 'Courier New', Courier, monospace;
}
/* header section */

header {

}

nav {
    margin-top: 2.5%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav > ul > li {
    font-size: 1.2rem;
    list-style-type: none;

}

nav > ul > li:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    margin-top: 4%;
}


main {
    margin-top: 5%;

}
/* bread section */ 

.bread {

}

.bread > h2 {
    margin-bottom: 2.5%;
}

.item {
    
}

.item > p {
    display: inline-block;
}

.flavor {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}


/* donuts section */

.container {
   
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 2.5%;
   margin-top: 2.5%;
}

.regular {
    background-color: #d6d8ff;
}

.glazed {
    background-color: #dd9be0;
    
}

.stuffed {
    background-color: #f8d8da;
    
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}


